.headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background-color: #435d7d9c;
    color: white;
    font-family: Garamond ;
}
.food-table{
    width:800px;
    padding: 20px 25px;
    /* background-color: white; */
    margin: 30px 0;
    border-radius: 3px;
   
}
th{
    text-align: center;
}
.tb{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./../../assets/image/MenuBg.png"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1585937421612-70a008356fbe?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), */
    /* background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(https://static.vecteezy.com/system/resources/previews/016/119/943/original/mexican-food-seamless-pattern-for-menu-design-engraved-style-image-in-black-background-different-mexican-dishes-linear-graphic-on-chalkboard-chalkboard-style-hand-drawn-illustration-vector.jpg); */
    /* background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(https://t4.ftcdn.net/jpg/02/96/13/27/360_F_296132731_F9dfG7A0t8sj2gbMsPcj33eiz4Ir7j3C.jpg); */

    margin-top: -18px;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

th{
    background-color: rgba(255, 242, 0, 0.219);
    font-family: Garamond ;
}

td{
    /* background-color: rgb(244, 252, 167); */
    background-color: rgba(0, 0, 0, 0.502);
    color: white;
    font-family: Copperplate, Papyrus, fantasy;
    
}

tr:hover {background-color: coral;}


